<!-- /snippets/product-card-grid.liquid -->
{% comment %}
	Renders a product card using "Grid" style
	Accepts:
	- max_height: {Number} Maximum height of the product's image (required)
	- product: {Object} Product Liquid object (required)
	- show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

	Usage:
	{% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}

<div class="mx-auto relative mb-6 {% unless product.available %} grid-view-item--sold-out{% endunless %}">
	<a
		 class="block absolute top-0 right-0 bottom-0 left-0 z-2"
		 href="{{ product.url | within: collection }}">
		<span class="sr-only">{{ product.title }}</span>
	</a>

	{% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
	{% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
	{%- assign preview_image = product.featured_media.preview_image -%}
	{%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

	{% unless preview_image == blank %}
		{% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
	{% endunless %}

	<div class="relative" data-image-loading-animation>

		<div id="{{ wrapper_id }}" class="js mb-4">
			<div style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
				<img
					id="{{ img_id }}"
					class="block mx-auto w-full absolute top-0 lazyload"
					alt="{{ preview_image.alt }}"
					data-src="{{ img_url }}"
					data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
					data-aspectratio="{{ preview_image.aspect_ratio }}"
					data-sizes="auto"
					data-image>
			</div>
		</div>
	</div>

	<noscript>
		{% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
		<img class="block mx-auto w-full" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
	</noscript>

	<div
		class="border-b border-transparent inline font-body font-semibold text-xl"
		aria-hidden="true"
	>{{ product.title }}</div>

	{% include 'product-price-listing', product: product, show_vendor: show_vendor %}

</div>
