<!-- snippets/product-card-list.liquid -->
{% comment %}
	Renders a product card using "List" style

	Accepts:
	- product: {Object} Product Liquid object (required)
	- show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

	Usage:
	{% include 'product-card-list', product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<div class="relative">
	<a
		class="block absolute top-0 left-0 w-full h-full z-2"
		href="{{ product.url | within: collection }}">
		<span class="sr-only">{{ product.title }}</span>
	</a>
	<div class="flex flex-no-wrap flex-row items-center">
		{% unless product.featured_media == null %}
			<img class="h-full mr-8" src="{{ product.featured_media | img_url: '95x95', scale: 2 }}" alt="{{ product.featured_media.alt }}">
		{% endunless %}
		<div class="flex-1" aria-hidden="true">
			<span class="font-body font-semibold text-xl">{{ product.title }}</span>
			{% if show_vendor %}
			<div class="text-gray-600 text-sm font-normal uppercase tracking-wide w-full">{{ product.vendor }}</div>
			{% endif %}
		</div>
		{% include 'product-price-listing', product: product, show_vendor: false, align: "right" %}
	</div>
</div>
