<!-- snippets/search-drawer.liquid -->
<div
	id="SearchDrawer"
	class="modal bg-white fixed max-h-screen transform w-full z-999"
	role="dialog"
	aria-modal="true"
	aria-label="{{ 'general.search.placeholder' | t }}"
	aria-hidden="true"
	aria-labelledby="SearchDrawer-label"
	tabindex="-1"
	data-predictive-search-drawer>
	<div class="modal-dialog flex h-32 flex-1 px-16">
		<div class="modal-body flex flex-1 items-center justify-center px-3">
			<form
				class="border border-transparent flex-1 max-w-3xl relative w-full"
				action="{{ routes.search_url }}"
				method="get"
				role="search">
				<div class="relative">
					<label
						id="SearchDrawer-label"
						class="sr-only"
						for="q">{{ 'general.search.placeholder' | t }}</label>
					<input
						id="q"
						name="q"
						type="text"
						placeholder="{{ 'general.search.placeholder' | t }}"
						role="combobox"
						aria-autocomplete="list"
						aria-owns="predictive-search-results"
						aria-expanded="false"
						aria-label="{{ 'general.search.placeholder' | t }}"
						aria-haspopup="listbox"
						class="bg-white border border-gray-600 pr-12 px-5 py-3 text-gray-800 w-full rounded"
						data-predictive-search-drawer-input
					/>
					<input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
					<div
						class="predictive-search-wrapper predictive-search-wrapper--drawer"
						data-predictive-search-mount="drawer"
					></div>
				</div>

				<button
					class="absolute align-middle bg-transparent border-0 h-full inline-block m-0 p-3 right-0 top-0 z-0 ml-1"
					type="submit"
					data-search-form-submit>
					{% include 'icon-search', icon_class: "-mt-px h-auto relative top-0 w-5" %}
					<span class="sr-only">{{ 'general.search.submit' | t }}</span>
				</button>
			</form>

			<div class="flex flex-grow-0 flex-shrink-0 items-center">
				<button
					id="SearchDrawer-close"
					type="button"
					class="bg-transparent border-0 btn--link p-3 text-current text-left">
					{% include 'icon-close', icon_class: "align-middle h-auto w-4" %}
					<span class="sr-only">{{ 'general.search.close' | t }}</span>
				</button>
			</div>
		</div>
	</div>
</div>
