<!-- snippets/site-nav.liquid -->
{% comment %}
    Renders a list of menu items
    Accepts:
    - linklist: {Object} Linklist Liquid object (required)
    - wrapper_class: {String} CSS wrapper class for the navigation (optional)
    Usage:
    {% include 'site-nav', linklist: section.settings.main_linklist, wrapper_class: 'site-nav--centered' %}
{% endcomment %}

<ul id="SiteNav" class="flex items-center">
	{% for link in linklists[linklist].links %}
		{%- assign child_list_handle = link.title | handleize -%}
		{% comment %}
			Check if third-level nav exists on each parent link.
		{% endcomment %}
		{%- assign three_level_nav = false -%}
		{% if link.links != blank %}
			{% if link.levels == 2 %}
				{%- assign three_level_nav = true -%}
			{% endif %}
		{% endif %}
		{%- capture active_item -%}
			{% if link.active or link.child_active %}border-gray-700{% else %}border-transparent{% endif %}
		{%- endcapture -%}
		{% if link.links != blank %}
			<li
				data-has-dropdowns
				data-target="#SiteNavLabel-{{ child_list_handle }}"
				aria-expanded="false"
				aria-controls="SiteNavLabel-{{ child_list_handle }}"
			>
				{%- if link.url != blank -%}
				{%- assign link_url = link.url -%}
				{%- else -%}
				{%- assign link_url = "#" -%}
				{%- endif -%}
				<a
					href="{{ link_url }}"
					class="flex text-lg font-light px-3 py-2 whitespace-no-wrap"
					{% if link.current %} aria-current="page" {% endif %}>
					<span class="border-b {{ active_item }}">{{ link.title | escape }}</span>
					{% include 'icon-chevron-down', icon_class: "fill-current h-auto ml-2 w-3" %}
				</a>
				<div
					id="SiteNavLabel-{{ child_list_handle }}"
					class="site-nav__dropdown hidden absolute bg-white border border-gray-300 left-0 top-full w-full z-10">
					{% if three_level_nav %}
						<div class="py-3 px-4">
							<ul class="-mx-4 flex flex-no-wrap">
								{% if link.links != blank %}
									{% for childlink in link.links %}
										<li class="px-4 w-1/3">
											<a href="{{ childlink.url }}" class="font-semibold block whitespace-no-wrap" {% if childlink.current %} aria-current="page" {% endif %}>
												<span class="border-b border-transparent">{{ childlink.title | escape }}</span>
											</a>
											{% if childlink.links != blank %}
												<ul>
													{% for grandchildlink in childlink.links %}
														<li>
															<a href="{{ grandchildlink.url }}" class="block whitespace-no-wrap mt-2" {% if grandchildlink.current %} aria-current="page" {% endif %}>
																<span class="border-b border-transparent">{{ grandchildlink.title | escape }}</span>
															</a>
														</li>
													{% endfor %}
												</ul>
											{% endif %}
										</li>
									{% endfor %}
								{% endif %}
							</ul>
						</div>
					{% else %}
						<ul>
							{% for childlink in link.links %}
								<li>
									<a href="{{ childlink.url }}" class="site-nav__link site-nav__child-link" {% if childlink.current %} aria-current="page" {% endif %}>
										<span class="border-b border-transparent">{{ childlink.title | escape }}</span>
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</li>
		{% else %}
			<li>
				<a
					href="{{ link.url }}"
					class="flex text-lg font-light px-3 py-2 whitespace-no-wrap"
					{% if link.current %} aria-current="page" {% endif %}>
					<span class="border-b {{ active_item }}">{{ link.title | escape }}</span>
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
