<!-- src/static/sections/header.liquid -->
{% if section.settings.message %}
	<style>
		{% if section.settings.logo != blank %}
			.site-header__logo-image {
				max-width: {{ section.settings.logo_max_width | escape }}px;
			}
		{% endif %}

		{% if section.settings.align_logo == 'left' %}
			.site-header__logo-image {
				margin: 0;
			}
		{% endif %}
	</style>
{% endif %}

{% include 'search-drawer' %}

<div
	data-section-id="{{ section.id }}"
	data-section-type="header-section"
	data-header-section>
	{% if section.settings.message %}
		{% if section.settings.home_page_only == false or request.page_type == 'index' %}
			<style>
				.announcement-bar {
					background-color: {{ section.settings.color_bg }};
				}

				.announcement-bar__link:hover {
					{% assign brightness = section.settings.color_bg | color_brightness %}

					{% if brightness <= 192 %}
						{% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
						background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
					{% else %}
						{% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
						background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
					{% endif %}
				}

				.announcement-bar__message {
					color: {{ section.settings.color_text }};
				}
			</style>

			<div
				class="announcement-bar border-b p-1 relative z-10"
				role="region"
				aria-label="{{ 'sections.header.announcement_bar_label' | t }}">

				{%- unless section.settings.message_link == blank -%}
					<a href="{{ section.settings.message_link }}" class="announcement-bar__link block font-normal px-16 py-3 text-white">
				{%- endunless -%}
						<p class="announcement-bar__message text-current text-white text-base font-normal text-center mb-0">{{ section.settings.message_text | escape }}</p>
				{%- unless section.settings.message_link == blank -%}
					</a>
				{%- endunless -%}
			</div>

		{% endif %}
	{% endif %}

	<header
		class="site-header relative border-b md:border-transparent border-gray-300 bg-white"
		role="banner">
		<div class="container relative z-10">
			<div class="flex flex-no-wrap flex-row justify-between">
				{% if request.page_type == 'index' %}
					<h1 class="flex flex-1 flex-col justify-center md:pl-0 pl-4 w-1/4 my-4">
				{% else %}
					<div class="flex flex-1 flex-col justify-center md:pl-0 pl-4 w-1/4 my-4">
				{% endif %}

				{% if section.settings.logo %}
					{%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
					<a
						href="{{ routes.root_url }}"
						class="block{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}"
						data-image-loading-animation>
						{% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
						<img class="block lazyload js"
								src="{{ section.settings.logo | img_url: '300x300' }}"
								data-src="{{ img_url }}"
								data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
								data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
								data-sizes="auto"
								alt="{{ logo_alt | escape }}"
								style="max-width: {{ section.settings.logo_max_width }}px">
						<noscript>
							{% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
							<img src="{{ section.settings.logo | img_url: image_size }}"
									srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
									alt="{{ section.settings.logo.alt | default: shop.name }}"
									style="max-width: {{ section.settings.logo_max_width }}px;">
						</noscript>
					</a>
				{% else %}
					<a class="break-words uppercase text-2xl" href="{{ routes.root_url }}">{{ shop.name }}</a>
				{% endif %}

				{% if request.page_type == 'index' %}
					</h1>
				{% else %}
					</div>
				{% endif %}

				<nav class="flex-col hidden items-center justify-center md:flex relative w-1/2" id="AccessibleNav" role="navigation">
					{% include 'site-nav', linklist: section.settings.main_linklist %}
				</nav>

				<div class="flex flex-col flex-shrink-0 justify-center md:w-1/4">
					<div class="flex items-center justify-end relative w-full">
						<button
							type="button"
							class="btn--link p-2"
							data-predictive-search-open-drawer>
							{% include 'icon-search', icon_class: "h-auto w-5 align-middle" %}
							<span class="sr-only">{{ 'layout.navigation.search' | t }}</span>
						</button>

						{% if shop.customer_accounts_enabled %}
							{% if customer %}
								<a
									href="{{ routes.account_url }}"
									class="p-2 relative inline-block">
									{% include 'icon-login', icon_class: "h-5 w-5 align-middle" %}
									<span class="sr-only">{{ 'layout.customer.account' | t }}</span>
								</a>
							{% else %}
								<a
									href="{{ routes.account_login_url }}"
									class="p-2 relative inline-block">
									{% include 'icon-login', icon_class: "h-5 w-5 align-middle" %}
									<span class="sr-only">{{ 'layout.customer.log_in' | t }}</span>
								</a>
							{% endif %}
						{% endif %}

						<a
							href="{{ routes.cart_url }}"
							class="p-2 relative inline-block">
							{% include 'icon-cart', icon_class: "h-5 w-5 align-middle" %}
							<span class="sr-only">{{ 'layout.cart.title' | t }}</span>
							<div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hidden{% endif %} hidden" data-cart-count-bubble>
								<span data-cart-count>{{ cart.item_count }}</span>
								<span class="sr-only md:hidden">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
							</div>
						</a>

						{% unless linklists[section.settings.main_linklist] == blank %}
							<button
								type="button"
								class="md:hidden inline-block btn--link p-2 js-mobile-nav-toggle"
								aria-controls="MobileNav"
								aria-expanded="false"
								aria-label="{{ 'layout.navigation.menu' | t }}"
							>
								{% include 'icon-hamburger', icon_class: "h-5 w-5 align-middle" %}
								{% include 'icon-close', icon_class: "h-5 w-5 align-middle hidden" %}
							</button>
						{% endunless %}
					</div>
				</div>
			</div>
		</div>

		<nav
			class="absolute hidden left-0 md:hidden overflow-hidden top-full mt-px w-full z-10"
			role="navigation">
			<ul
				id="MobileNav"
				class="flex flex-col w-full transform transition-all">
				{% for link in linklists[section.settings.main_linklist].links %}
					{%- assign outerLoopIndex = forloop.index -%}

					<li class="bg-white block w-full border-b border-gray-300">
						{% if link.links != blank %}
							{% capture child_list_handle %}{{ link.handle }}-{{ outerLoopIndex }}{% endcapture %}
							<button
								type="button"
								class="flex flex-no-wrap px-5 py-4 relative text-base items-center w-full{% if link.child_active %} bg-gray-200 font-semibold{% endif %}"
								data-target="{{ child_list_handle }}"
								data-level="1"
								aria-expanded="false">
								<span class="border-b border-transparent">{{ link.title | escape }}</span>
								<div class="ml-auto">
									{% include 'icon-chevron-right', icon_class: "h-3 w-3 align-middle" %}
								</div>
							</button>

							<ul
								class="absolute top-0 transform translate-x-full w-full z-10"
								data-parent="{{ child_list_handle }}"
								data-level="2">
								<li
									class="sr-only"
									tabindex="-1"
									data-menu-title="2">
									{{- link.title }} {{ 'layout.navigation.menu' | t -}}
								</li>
								<li class="bg-white block w-full border-b border-gray-300">
									<div class="flex flex-row flex-no-wrap">
										<button
											class="border-r px-5"
											type="button"
											aria-expanded="true"
											aria-label="{{ link.title }}">
											{% include 'icon-chevron-left', icon_class: "h-3 w-3 align-middle" %}
										</button>
										<span
											class="block px-5 py-4 relative text-base w-full">
											<span class="border-b border-transparent">{{ link.title | escape }}</span>
										</span>
									</div>
								</li>

								{% for childlink in link.links %}
									<li class="bg-white block w-full border-b border-gray-300">
										{% if childlink.links != blank %}
											{% capture grandchild_list_handle %}{{ childlink.handle }}-{{ outerLoopIndex }}-{{ forloop.index }}{% endcapture %}
											<button
												type="button"
												class="flex flex-no-wrap px-5 py-4 relative text-base items-center w-full"
												data-target="{{ grandchild_list_handle }}"
												aria-expanded="false">
												<span class="border-b border-transparent">{{ childlink.title | escape }}</span>
												<div class="ml-auto">
													{% include 'icon-chevron-right', icon_class: "h-3 w-3 align-middle" %}
												</div>
											</button>

											<ul
												class="absolute top-0 transform translate-x-full w-full z-10"
												data-parent="{{ grandchild_list_handle }}"
												data-level="3">
												<li class="sr-only" tabindex="-1" data-menu-title="3">
													{{- childlink.title }} {{ 'layout.navigation.menu' | t -}}
												</li>
												<li class="bg-white block w-full border-b border-gray-300">
													<div class="flex flex-row flex-no-wrap">
														<button
															type="button"
															class="border-r px-5"
															data-target="{{ child_list_handle }}"
															aria-expanded="true"
															aria-label="{{ childlink.title }}">
															{% include 'icon-chevron-left', icon_class: "h-3 w-3 align-middle" %}
														</button>
														<a
															href="{{ childlink.url }}"
															class="block px-5 py-4 relative text-base w-full"
															{% if childlink.current %} aria-current="page"{% endif %}
														>
															<span class="border-b border-transparent">{{ childlink.title | escape }}</span>
														</a>
													</div>
												</li>
												{% for grandchildlink in childlink.links %}
													<li class="bg-white block w-full border-b border-gray-300">
														<a
															href="{{ grandchildlink.url }}"
															class="block px-5 py-4 relative text-base w-full"
															{% if grandchildlink.current %} aria-current="page"{% endif %}
														>
															<span class="border-b border-transparent">{{ grandchildlink.title | escape }}</span>
														</a>
													</li>
												{% endfor %}
											</ul>
										{% else %}
											<a
												href="{{ childlink.url }}"
												class="block px-5 py-4 relative text-base w-full"
												{% if childlink.current %} aria-current="page"{% endif %}
											>
												<span class="border-b border-transparent">{{ childlink.title | escape }}</span>
											</a>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						{% else %}
							<a
								href="{{ link.url }}"
								class="block px-5 py-4 relative text-base w-full{% if link.active %} font-semibold{% endif %}"
								{% if link.current %} aria-current="page"{% endif %}
							>
								<span class="border-b border-transparent">{{ link.title | escape }}</span>
							</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</nav>
	</header>
</div>


<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": {{ shop.name | json }},
	{% if section.settings.logo %}
		{% assign image_size = section.settings.logo.width | append:'x' %}
		"logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
	{% endif %}
	"sameAs": [
		{{ settings.social_twitter_link | json }},
		{{ settings.social_facebook_link | json }},
		{{ settings.social_pinterest_link | json }},
		{{ settings.social_instagram_link | json }},
		{{ settings.social_tumblr_link | json }},
		{{ settings.social_snapchat_link | json }},
		{{ settings.social_youtube_link | json }},
		{{ settings.social_vimeo_link | json }}
	],
	"url": {{ shop.url | append: page.url | json }}
}
</script>

{% if request.page_type == 'index' %}
	{% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"name": {{ shop.name | json }},
			"potentialAction": {
				"@type": "SearchAction",
				"target": {{ potential_action_target | json }},
				"query-input": "required name=search_term_string"
			},
			"url": {{ shop.url | append: page.url | json }}
		}
	</script>
{% endif %}

{% schema %}
{
	"name": "Header",
	"settings": [
		{
			"type": "radio",
			"id": "align_logo",
			"label": "Logo alignment",
			"default": "left",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Centered"
				}
			]
		},
		{
			"type": "image_picker",
			"id": "logo",
			"label": "Logo image"
		},
		{
			"type": "range",
			"id": "logo_max_width",
			"label": "Custom logo width",
			"min": 50,
			"max": 250,
			"step": 5,
			"unit": "px",
			"default": 100
		},
		{
			"type": "link_list",
			"id": "main_linklist",
			"label": "Menu",
			"default": "main-menu"
		},
		{
			"type": "header",
			"content": "Announcement bar"
		},
		{
			"type": "checkbox",
			"id": "message",
			"label": "Show announcement",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "home_page_only",
			"label": "Home page only",
			"default": true
		},
		{
			"type": "text",
			"id": "message_text",
			"label": "Text",
			"default": "Announce something here"
		},
		{
			"type": "url",
			"id": "message_link",
			"label": "Link",
			"info": "Optional"
		},
		{
			"type": "color",
			"id": "color_bg",
			"label": "Bar",
			"default": "#3a3a3a"
		},
		{
			"type": "color",
			"id": "color_text",
			"label": "Text",
			"default": "#ffffff"
		}
	]
}
{% endschema %}
