<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="{{ settings.color_button }}">
	<link rel="canonical" href="{{ canonical_url }}">

	<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
	<link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
	<link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

	{%- assign header_font = settings.type_header_font -%}
	{%- assign base_font = settings.type_base_font -%}
	{%- assign base_font_bolder = base_font | font_modify: 'weight', 'bolder' -%}
	{%- assign base_font_bold = base_font | font_modify: 'weight', 'bold' -%}
	{%- assign base_font_italic = base_font | font_modify: 'style', 'italic' -%}
	{%- assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic' -%}

	<link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style">
	<link rel="preload" as="font" href="{{ header_font | font_url }}" type="font/woff2" crossorigin>
	<link rel="preload" as="font" href="{{ base_font | font_url }}" type="font/woff2" crossorigin>
	<link rel="preload" as="font" href="{{ base_font_bold | font_url }}" type="font/woff2" crossorigin>

	{% if settings.favicon != blank %}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{% endif %}

	<title>
		{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
	</title>

	{% if page_description %}
		<meta name="description" content="{{ page_description | escape }}">
	{% endif %}

	{% include 'social-meta-tags' %}

	{% include 'css-variables' %}

	{% capture asset_file %}{{ 'theme.js' | asset_url }}{% endcapture %}
	{% assign asset_path = asset_file | split: 'theme.js' | first %}
	<script>
		window.__webpack_public_path__ = "{{ asset_path }}";
		/**
		* Configurables and Namespace.
		* @module configurables
		* @title Configurables and Namespace
		*/
		(function() {
			/**
			 * Application namespace.
			 * @class them
			 * @for window
			 * @namespace window
			 * @static
			 */
			this.theme = {
				strings: {
					addressError: {{ 'sections.map.address_error' | t | json }},
					addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
					addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
					authError: {{ 'sections.map.auth_error_html' | t | json }}
				},
				breakpoints: {
					medium: 750,
					large: 990,
					widescreen: 1400
				},
				show_popup: false,
				open_modal: function() {
					this.show_popup = true;
					console.log(this.$refs.password);
					setTimeout(() => {
						this.$refs.password.focus();
					}, 100);
				},
				close_modal: function() {
					this.show_popup = false;
				}
			};

			if (window.MSInputMethodContext && document.documentMode) {
				var scripts = document.getElementsByTagName('script')[0];
				var polyfill = document.createElement("script");
				polyfill.defer = true;
				polyfill.src = "{{ 'ie11CustomProperties.js' | asset_url }}";
				scripts.parentNode.insertBefore(polyfill, scripts);
			}
		}).call(window);

		document.documentElement.className = document.documentElement.className.replace("no-js", "js");
	</script>

	<style>
		{{ header_font | font_face: font_display: 'swap' }}
		{{ base_font | font_face: font_display: 'swap' }}
		{{ base_font_bold | font_face: font_display: 'swap' }}
		{{ base_font_bolder | font_face: font_display: 'swap' }}
		{{ base_font_italic | font_face: font_display: 'swap' }}
		{{ base_font_bold_italic | font_face: font_display: 'swap' }}
	</style>

	<script src="{{ 'lib.js' | asset_url }}" defer="defer"></script>

	{{ content_for_header }}
</head>

<body class="template-password bg-gray-200 debug-screens" x-data="theme">
	<!-- /layout/password.liquid -->
	<div class="flex w-full flex-col">
		<header class="container" role="banner">
			<div class="flex flex-row justify-end py-5">
				<a
					href="#LoginModal"
					@click="open_modal"
					class="js-modal-open-login-modal link--action btn border-red-500 border text-red-500"
					aria-haspopup="dialog">
					{{ 'general.password_page.password_link' | t }} <span aria-hidden="true">&rarr;</span>
				</a>
			</div>
		</header>

		<div class="py-10" role="main">
			<div class="container">
				{{ content_for_layout }}
			</div>
		</div>
	</div>

	<div
		id="LoginModal"
		class="modal bg-gray-100 fixed h-full left-0 modal top-0 w-full"
		:class="{ 'hidden': show_popup === false }"
		role="dialog"
		aria-modal="true"
		aria-labelledby="password-modal-heading">
		<button
			type="button"
			@click="close_modal"
			class="modal__close border-0 absolute top-0 right-0 p-12 z-2">
			{% include 'icon-close', icon_class: "h-5 w-5 align-middle" %}
			<span class="sr-only">{{ 'general.accessibility.close_modal' | t | json }}</span>
		</button>

		<div class="modal__inner">
			<div class="container h-screen text-center">
				<div class="flex flex-col h-full justify-center m-auto md:w-1/2 w-5/6">
					<h2 class="mb-4 text-xl tracking-wide uppercase font-semibold leading-snug" id="password-modal-heading">
						{{ 'general.password_page.login_form_heading' | t }}
					</h2>
					{% form 'storefront_password' %}
						{%- assign formId = 'PasswordLoginForm' -%}

						<div class="flex flex-no-wrap mb-3{% if form.errors %} text-red-500{% endif %}">
							<label
								id="PasswordLabel"
								for="Password"
								class="sr-only">{{ 'general.password_page.login_form_password_label' | t }}</label>
							<input
								type="password"
								name="password"
								id="Password"
								class="border border-gray-500 flex-1 px-3 w-full{% if form.errors %} border-red-500{% endif %}"
								placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
								autocomplete="off"
								aria-labelledby="PasswordLabel {% if form.errors %} {{ formId }}-password-error{% endif %}"
								x-ref="password"
								{% if form.errors %}
									data-error="password"
									aria-invalid="true"
								{%- endif -%}
							>
							<button
								type="submit"
								name="commit"
								class="bg-red-600 btn flex-shrink-0 text-base text-white -ml-px">
								{{ 'general.password_page.login_form_submit' | t }}
							</button>
						</div>
						{%- if form.errors -%}
							<span id="{{ formId }}-password-error" class="input-error-message">
								<span class="sr-only">{{ 'general.accessibility.error' | t }} </span>
								{% include 'icon-error', icon_class: "align-middle fill-current h-4 w-4 inline-block text-red-600" %}
								<span>{{ form.errors.messages['form'] }}</span>
							</span>
						{%- endif -%}
					{% endform %}
					<p>{{ 'general.password_page.admin_link_html' | t }}</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
