<!-- sections/article-template.liquid -->
<section
	class="{{ section.settings.extra_class }}"
	data-section-id="{{ section.id }}"
	data-section-type="article-template">
	<div class="flex flex-col items-center md:flex-row md:flex-wrap md:justify-center">
		<div class="md:w-3/4">
			<header class="text-center">
				<h1 id="title-0" class="mb-4 text-xl tracking-wide uppercase font-semibold leading-snug">{{ article.title }}</h1>
				{% if section.settings.blog_show_author %}
					<span class="inline-block mb-5">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
				{% endif %}
				{% if section.settings.blog_show_date %}
					<span class="inline-block mb-5">
						{{ article.published_at | time_tag: format: 'date' }}
					</span>
				{% endif %}
				{% if article.image %}
					{% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
					{% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
					{%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

					{% render 'image-style', image: article.image, height: 600, wrapper_id: img_wrapper_id, img_id: img_id %}

					<div id="{{ img_wrapper_id }}" class="mx-auto relative w-full js">
						<div
							class="relative mb-6 min-h-px w-full h-full"
							style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;">
							<img
								id="{{ img_id }}"
								class="mx-auto w-full absolute top-0 lazyload"
								data-src="{{ img_url }}"
								data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
								data-aspectratio="{{ article.image.aspect_ratio }}"
								data-sizes="auto"
								alt="" />
						</div>
					</div>

					<noscript>
						<p><a href="{{ article.url }}">{{ article | img_url: '455x300', scale: 2 | img_tag: article.title }}</a></p>
					</noscript>
				{% endif %}
			</header>

			<div class="text-gray-600 mb-4">
				{{ article.content }}
			</div>

			{% if section.settings.show_share_buttons %}
				{% render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
			{% endif %}
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Posts",
	"settings": [
		{
			"type": "text",
			"id": "extra_class",
			"label": "Adicional CSS Classes",
			"default": "container"
		},
		{
			"type": "checkbox",
			"id": "blog_show_author",
			"label": "Show author",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "blog_show_date",
			"label": "Show date",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_share_buttons",
			"label": "Show social sharing buttons",
			"default": true
		}
	]
}
{% endschema %}
