<!-- sections/newsletter.liquid -->
<section
	class="{{ section.settings.extra_class }}"
	data-section-id="{{ section.id }}"
	data-section-type="newsletter">
	<div>
		<div class="mb-8 text-center">
			{% if section.settings.section_title != blank %}
				<h2 class="mb-4 text-xl tracking-wide uppercase font-semibold leading-snug">{{ section.settings.section_title | escape }}</h2>
			{% endif %}
			{% if section.settings.subheading != blank %}
				<div class="text-gray-600">{{ section.settings.subheading }}</div>
			{% endif %}
		</div>
		{%- assign formId = 'Contact_' | append: section.id -%}
		{% form 'customer', id: formId, novalidate: 'novalidate', class: 'contact-form max-w-xl mx-auto' %}
			{%- if form.posted_successfully? -%}
				<p class="form-message form-message--success" tabindex="-1" data-form-status>
					{{ 'general.newsletter_form.confirmation' | t }}
				</p>
			{%- endif -%}
			<input type="hidden" name="contact[tags]" value="newsletter">
			<div class="flex flex-no-wrap{% if form.errors %} input-group--error{% endif %}">
				<input type="email"
					name="contact[email]"
					id="{{ formId }}-email"
					class="border border-gray-500 flex-1 px-3 w-full{% if form.errors %} input--error{% endif %}"
					value="{{ form.email }}"
					placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
					aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
					aria-required="true"
					autocorrect="off"
					autocapitalize="off"
					{% if form.errors %}
						aria-invalid="true"
						aria-describedby="{{ formId }}-email-error"
						data-form-status
					{% endif %}
				>
				<button type="submit" class="-ml-px bg-red-600 border-red-600 btn flex-shrink-0 text-base text-white" name="commit">
					<span>{{ 'general.newsletter_form.submit' | t }}</span>
				</button>
			</div>
			{%- if form.errors contains 'email' -%}
				<span id="{{ formId }}-email-error" class="input-error-message">
					<span class="sr-only">{{ 'general.accessibility.error' | t }} </span>
					{% render 'icon-error', icon_class: "h-3 w-3 align-middle" %}
					<span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
				</span>
			{%- endif -%}
		{% endform %}
	</div>
</section>

{% schema %}
{
	"name": "Newsletter",
	"class": "index-section index-section--flush",
	"settings": [
		{
			"type": "text",
			"id": "extra_class",
			"label": "Adicional CSS Classes",
			"default": "container py-16 bg-gray-200"
		},
		{
			"type": "text",
			"id": "section_title",
			"label":  "Heading",
			"default": "Subscribe to our newsletter"
		},
		{
			"type": "richtext",
			"id": "subheading",
			"label":  "Subheading",
			"default": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
		},
		{
			"type": "paragraph",
			"content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
		}
	],
	"presets": [
		{
			"name": "Newsletter",
			"category": "Promotional"
		}
	]
}
{% endschema %}
