<!-- section/password-content.liquid -->
{% comment %}
	Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}
<div class="text-center">
	{% unless shop.password_message == blank %}
		<div class="password-message">
			{{ shop.password_message }}
		</div>
	{% endunless %}
</div>

{% if section.settings.newsletter_enable %}
	<div class="text-center mb-10">
		<p class="text-base font-semibold">
			{{ section.settings.newsletter_form_heading | escape }}
		</p>
		{% if section.settings.newsletter_form_subheading != blank %}
			<div class="text-base">{{ section.settings.newsletter_form_subheading }}</div>
		{% endif %}
	</div>
	{% form 'customer', id: 'ContactPassword', class: 'contact-form form-single-field mx-auto max-w-xl' %}
		{%- assign formId = 'PasswordNewsletterForm' -%}
		<input type="hidden" name="contact[tags]" value="prospect, password page">
		<label for="{{ formId }}-email" class="sr-only">{{ 'general.password_page.signup_form_email_label' | t }}</label>

		{%- if form.posted_successfully? -%}
			<p class="form-message form-message--success" tabindex="-1" data-form-status>
				{{ 'general.password_page.signup_form_success' | t }}
			</p>
		{%- endif -%}

		<div class="flex w-full flex-wrap justify-center{% if form.errors %} input-group--error{% endif %}">
			<input
				type="email"
				name="contact[email]"
				id="{{ formId }}-email"
				class="border border-gray-500 flex-1 px-3 w-full{% if form.errors contains 'email' %} border-red-500{% endif %}"
				placeholder="{{ section.settings.newsletter_placeholder | escape }}"
				{%- if form.errors contains 'email' -%}
					aria-invalid="true"
					aria-describedby="{{ formId }}-email-error"
					data-form-status
				{%- endif -%}
			>
			<button
				type="submit"
				name="commit"
				class="bg-red-600 border-red-600 btn flex-shrink-0 text-base text-white -ml-px">
				<span>{{ section.settings.newsletter_button_text | escape }}</span>
			</button>
		</div>

		{%- if form.errors contains 'email' -%}
			<span id="{{ formId }}-email-error" class="input-error-message">
				<span class="sr-only">{{ 'general.accessibility.error' | t }} </span>
				{% include 'icon-error', icon_class: "h-3 w-3 align-middle" %}
				<span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
			</span>
		{%- endif -%}

	{% endform %}
{% endif %}

{% schema %}
{
	"name": "Content",
	"settings": [
		{
			"type": "checkbox",
			"id": "newsletter_enable",
			"label": "Show newsletter signup",
			"default": true
		},
		{
			"type": "text",
			"id": "newsletter_form_heading",
			"label": "Newsletter form heading",
			"default": "Be the first to know when we launch."
		},
		{
			"type": "richtext",
			"id": "newsletter_form_subheading",
			"label": "Subheading",
			"default": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
		},
		{
			"type": "text",
			"id": "newsletter_placeholder",
			"label": "Newsletter placeholder text",
			"default": "Email address"
		},
		{
			"type": "text",
			"id": "newsletter_button_text",
			"label": "Newsletter button text",
			"default": "Notify me"
		}
	]
}
{% endschema %}
