<!-- src/static/sections/product-template.liquid -->
<div class="product-template__container container"
	id="ProductSection-{{ section.id }}"
	data-section-id="{{ section.id }}"
	data-section-type="product-section"
	data-enable-history-state="true"
	data-ajax-enabled="{{ settings.enable_ajax }}"
>
	{% comment %}
		Get first variant, or deep linked one
	{% endcomment %}
	{%- assign current_variant = product.selected_or_first_available_variant -%}
	{%- assign product_image_zoom_size = '1024x1024' -%}
	{%- assign product_image_scale = '2' -%}
	{%- assign enable_image_zoom = section.settings.enable_image_zoom -%}
	{%- assign compare_at_price = current_variant.compare_at_price -%}
	{%- assign price = current_variant.price -%}

	{% case section.settings.media_size %}
		{% when 'small' %}
			{%- assign product_media_width = 'md:w-1/3' -%}
			{%- assign product_description_width = 'md:w-2/3' -%}
			{%- assign height = 345 -%}
		{% when 'medium' %}
			{%- assign product_media_width = 'md:w-1/2' -%}
			{%- assign product_description_width = 'md:w-1/2' -%}
			{%- assign height = 530 -%}
		{% when 'large' %}
			{%- assign product_media_width = 'md:w-2/3' -%}
			{%- assign product_description_width = 'md:w-1/3' -%}
			{%- assign height = 720 -%}
		{% when 'full' %}
			{%- assign product_media_width = '' -%}
			{%- assign product_description_width = '' -%}
			{%- assign height = 1090 -%}
			{%- assign enable_image_zoom = false -%}
	{% endcase %}

	<div
		class="flex flex-row md:-mx-4 product-single{% if section.settings.enable_payment_button %} product-single--{{ section.settings.media_size }}-media{% endif %}">
		<div
			class="px-4 relative {{ product_media_width }}{% if section.settings.media_size == 'full' %} mb-6{% endif %}"
			data-product-single-media-group
		>
			{%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

			{%- for media in product.media -%}
				{% include 'media', media: media, featured_media: featured_media, height: height, enable_image_zoom: enable_image_zoom, image_zoom_size: product_image_zoom_size, image_scale: product_image_scale %}
			{%- endfor -%}

			<noscript>
				{% capture product_image_size %}{{ height }}x{% endcapture %}
				<img
					src="{{ featured_media | img_url: product_image_size, scale: product_image_scale }}"
					alt="{{ featured_media.alt }}"
					id="FeaturedMedia-{{ section.id }}"
					class="block mx-auto absolute top-0 left-0 w-full"
					style="max-width: {{ height }}px;">
			</noscript>

			{% assign first_3d_model = product.media | where: "media_type", "model" | first %}

			{%- if first_3d_model -%}
				<button
					aria-label="{{ 'products.product.view_in_space_label' | t }}"
					class="bg-gray-100 border-none w-full h-10 py-2 block text-base text-gray-700"
					data-shopify-xr
					data-shopify-model3d-id="{{ first_3d_model.id }}"
					data-shopify-title="{{ product.title | escape }}"
					data-shopify-xr-hidden
				>
					{% include 'icon-3d-badge-full-color', icon_class: 'h-3 w-3 -mt-1 mr-1 fill-current' %}
					<span class='border-b border-transparent'>{{ 'products.product.view_in_space' | t }}</span>
				</button>
			{%- endif -%}


			{% if product.media.size > 1 %}
				{% if product.media.size > 4 %}
					{%- assign enable_thumbnail_slides = true -%}
				{% endif %}

				<div data-thumbnail-slider>
					<div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} slider-active{% endif %}" data-slider>
						{% if enable_thumbnail_slides == true %}
							<button
								type="button"
								class="btn btn--link md:hidden thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}" data-slider-button>
								{% include 'icon-chevron-left', icon_class: "h-3 w-3 align-middle" %}
								<span class="sr-only">{{ 'sections.slideshow.previous_slide' | t }}</span>
							</button>
						{% endif %}

						<ul
							class="flex flex-wrap mt-4 -mx-3 product-single__thumbnails product-single__thumbnails-{{ section.id }}"
							data-slider-container
						>
							{% if enable_thumbnail_slides == true %}
								<div
									class="flex flex-wrap product-single__thumbnails-slider-track"
									data-slider-track>
							{% endif %}

							{% for media in product.media %}
							<li
								class="px-3 w-1/4 sm:w-1/3 md:w-1/4 product-single__thumbnails-item product-single__thumbnails-item--{{ section.settings.media_size }} {% if enable_thumbnail_slides == true %} product-single__thumbnails-item-slide{% endif %} js"
								{% if enable_thumbnail_slides == true %}
								data-slider-slide-index="{{ forloop.index0 }}"
								data-slider-item
								{% endif %}>
									<a href="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"
										class="block mt-1 mb-2 relative border-2 text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
										data-thumbnail-id="{{ section.id }}-{{ media.id }}"
										{% if enable_thumbnail_slides == true %} data-slider-item-link{% endif %}
										{% if enable_image_zoom %}data-zoom="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>

											{%- capture thumbnailAlt -%}
												{%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
													{{ 'sections.featured_product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
												{%- elsif media.media_type == 'model' -%}
													{{ 'sections.featured_product.model_thumbnail_alt' | t: imageAlt: media.alt | escape }}
												{%- else -%}
													{{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
												{%- endif -%}
											{%- endcapture -%}
											<img
												class="max-w-full block mx-auto p-1 product-single__thumbnail-image"
												src="{{ media.preview_image | img_url: '110x110', scale: 2 }}"
												alt="{{ thumbnailAlt }}">
											{%- if media.media_type == 'video' or media.media_type =='external_video' -%}
												<div class="w-6 h-6 absolute right-0 top-0 pointer-events-none mt-2 mr-2 product-single__thumbnail-badge">
													{% include 'icon-video-badge-full-color', icon_class: "h-full w-full align-baseline" %}
												</div>
											{%- endif -%}
											{%- if media.media_type == 'model' -%}
												<div class="w-6 h-6 absolute right-0 top-0 pointer-events-none mt-2 mr-2 product-single__thumbnail-badge">
													{% include 'icon-3d-badge-full-color', icon_class: "h-full w-full align-baseline" %}
												</div>
											{%- endif -%}
									</a>
								</li>
							{% endfor %}

							{% if enable_thumbnail_slides == true %}
								</div>
							{% endif %}
						</ul>
						{% if enable_thumbnail_slides == true %}
							<button type="button" class="btn btn--link md:hidden thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}" data-slider-button data-slider-button-next>
								{% include 'icon-chevron-right', icon_class: "h-3 w-3 align-middle" %}
								<span class="sr-only">{{ 'sections.slideshow.next_slide' | t }}</span>
							</button>
						{% endif %}
					</div>
				</div>
			{% endif %}
		</div>

		<div class="px-4 {{ product_description_width }}">
			<div class="product-single__meta">

				<h1 class="font-semibold leading-snug text-4xl tracking-wide">{{ product.title }}</h1>
				<script>window.performance.mark('debut:product:title_visible');</script>

				<div class="text-xl">
					{% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}
				</div>

				{%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
					<div class="text-base mt-1 mb-4" data-product-policies>
						{%- if shop.taxes_included -%}
							{{ 'products.product.include_taxes' | t }}
						{%- endif -%}
						{%- if shop.shipping_policy.body != blank -%}
							{{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
						{%- endif -%}
					</div>
				{%- endif -%}

					{% capture "form_classes" -%}
						w-auto pt-8 product-form-{{ section.id }}
						{%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
						{%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
					{%- endcapture %}

					{% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
						{% unless product.has_only_default_variant %}
							<div class="flex flex-wrap">
								{% for option in product.options_with_values %}
									<div class="selector-wrapper js flex-grow-0 w-full mb-2 py-0 md:w-1/2">
										<label
											class="block mb-1"
											for="SingleOptionSelector-{{ forloop.index0 }}">
											{{ option.name }}
										</label>
										<select
											class="block w-full py-3 pl-2 pr-5 leading-tight cursor-pointer border border-gray-600 product-form__input single-option-selector single-option-selector-{{ section.id }}"
											id="SingleOptionSelector-{{ forloop.index0 }}"
											data-index="option{{ forloop.index }}"
										>
											{% for value in option.values %}
												<option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
											{% endfor %}
										</select>
									</div>
								{% endfor %}
							</div>
						{% endunless %}

						<select
							name="id"
							id="ProductSelect-{{ section.id }}"
							class="product-form__variants no-js">
							{% for variant in product.variants %}
								<option value="{{ variant.id }}"
									{%- if variant == current_variant %} selected="selected" {%- endif -%}
								>
									{{ variant.title }} {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
								</option>
							{% endfor %}
						</select>

						{% if section.settings.show_quantity_selector %}
							<div class="flex flex-wrap">
								<div class="flex-grow-0 w-full mb-2 p-0">
									<label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
									<input
										type="number"
										id="Quantity-{{ section.id }}"
										name="quantity"
										value="1"
										min="1"
										pattern="[0-9]*"
										class="block w-20 py-3 pl-2 pr-5 leading-tight cursor-pointer border border-gray-600"
										data-quantity-input
									/>
								</div>
							</div>
						{% endif %}

						<div
							class="flex w-full py-2 mb-5 mx-3 product-form__error-message-wrapper"
							role="alert"
							data-error-message-wrapper
						>
							<span class="sr-only">{{ 'general.accessibility.error' | t }}</span>
							{% include 'icon-error', icon_class: "h-3 w-3 align-middle" %}
							<span
								class="ml-2 text-sm leading-tight text-gray-700 product-form__error-message"
								data-error-message
							>{{ 'products.product.quantity_minimum_message' | t }}</span>
						</div>

						<div class="flex flex-wrap mt-4">
							<div class="flex-grow-0 w-full mb-2 p-0 product-form__item--submit
								{%- if section.settings.enable_payment_button %} w-full {%- endif -%}
								{%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}"
							>
								<button
									type="submit"
									name="add"
									{% unless current_variant.available %} aria-disabled="true"{% endunless %}
									aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
									class="btn block w-full leading-normal px-2 whitespace-normal mt-0 mb-3 bg-transparent text-red-600 border-red-600 product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"
									{% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
									data-add-to-cart>
									<span data-add-to-cart-text>
										{% unless current_variant.available %}
											{{ 'products.product.sold_out' | t }}
										{% else %}
											{{ 'products.product.add_to_cart' | t }}
										{% endunless %}
									</span>
									<span class="hidden" data-loader>
										{% include 'icon-spinner', icon_class: "h-3 w-3 align-middle" %}
									</span>
								</button>
								{% if section.settings.enable_payment_button %}
									{{ form | payment_button }}
								{% endif %}
							</div>
						</div>
					{% endform %}
				</div>

				{%- comment -%}
					Live region for announcing updated price and availability to screen readers
				{%- endcomment -%}
				<p
					class="sr-only"
					data-product-status
					aria-live="polite"
					role="status"
				></p>

				{%- comment -%}
					Live region for announcing that the product form has been submitted and the
					product is in the process being added to the cart
				{%- endcomment -%}
				<p
					class="sr-only"
					data-loader-status
					aria-live="assertive"
					role="alert"
					aria-hidden="true"
				>{{ 'products.product.loader_label' | t }}</p>

				<div class="text-gray-600 leading-loose text-xl my-4">
					{{ product.description }}
				</div>

				{% if section.settings.show_share_buttons %}
					{% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
				{% endif %}
		</div>
	</div>
</div>

{% unless product == empty %}
	<script type="application/json" id="ProductJson-{{ section.id }}">
		{{ product | json }}
	</script>
	<script type="application/json" id="ModelJson-{{ section.id }}">
		{{ product.media | where: 'media_type', 'model' | json }}
	</script>
{% endunless %}



{% schema %}
{
	"name": "Product pages",
	"settings": [
		{
			"type": "checkbox",
			"id": "show_quantity_selector",
			"label": "Show quantity selector",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"label": "Show vendor",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "enable_payment_button",
			"label": "Show dynamic checkout button",
			"info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_share_buttons",
			"label": "Show social sharing buttons",
			"default": true
		},
		{
			"type": "header",
			"content":"Media",
			"info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
		},
		{
			"type": "select",
			"id": "media_size",
			"label": "Size",
			"options": [
				{
					"value": "small",
					"label": "Small"
				},
				{
					"value": "medium",
					"label": "Medium"
				},
				{
					"value": "large",
					"label": "Large"
				},
				{
					"value": "full",
					"label": "Full-width"
				}
			],
			"default": "medium"
		},
		{
			"type": "checkbox",
			"id": "enable_image_zoom",
			"label": "Enable image zoom",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "enable_video_looping",
			"label": "Enable video looping",
			"default": false
		}
	]
}
{% endschema %}
