<!-- sections/rich-text.liquid -->
<section
	class="rich-text {{ section.settings.extra_class }}"
	data-section-id="{{ section.id }}"
	data-section-type="rich-text">
	<div class="flex flex-row">
		<div class="{% unless section.settings.full_width %}md:w-2/3 m-auto{% endunless %}">
			{% if section.settings.section_title != blank %}
				<div class="text-center {{ section.settings.text_size }}">
					<h2 class="mb-4 text-xl tracking-wide uppercase font-semibold leading-snug">{{ section.settings.section_title | escape }}</h2>
				</div>
			{% endif %}
			{% if section.settings.text != blank %}
				<div class="{{ section.settings.text_size }} rte-setting text-center">{{ section.settings.text }}</div>
			{% endif %}
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Rich text",
	"class": "index-section",
	"settings": [
		{
			"type": "text",
			"id": "extra_class",
			"label": "Adicional CSS Classes",
			"default": "container"
		},
		{
			"type": "checkbox",
			"id": "full_width",
			"label": "Wide display"
		},
		{
			"type": "text",
			"id": "section_title",
			"label": "Heading",
			"default": "Talk about your brand"
		},
		{
			"type": "richtext",
			"id": "text",
			"label": "Text",
			"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
		},
		{
			"type": "select",
			"id": "text_size",
			"label": "Size",
			"default": "medium",
			"options": [
				{
					"label": "Small",
					"value": "small"
				},
				{
					"label": "Medium",
					"value": "medium"
				},
				{
					"label": "Large",
					"value": "large"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Rich text",
			"category": "Text"
		}
	]
}
{% endschema %}
