<!-- templates/page.contact.liquid -->
<article aria-labelledby="title-0">
	<div class="container pb-12">
		<div class="flex flex-col items-center">
			<div class="md:w-3/4">
				<header class="my-12">
					<h1 class="font-semibold mb-4 text-4xl tracking-wide text-center" id="title-0">{{ page.title }}</h1>
				</header>
				{% if page.content.size > 0 %}
				<div class="text-gray-600">
					{{ page.content }}
				</div>
				{% endif %}

				<div class="mt-8">
					{%- assign formId = 'ContactForm' -%}
					{% form 'contact', id: formId %}
						{% include 'form-status', form: form, form_id: formId %}
						<div class="flex flex-col mx-0 md:flex-row md:flex-wrap md:-mx-4">
							<div class="px-4 mb-4 md:w-1/3">
								<label class="cursor-pointer inline-block mb-1 text-lg" for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
								<input
									type="text"
									id="{{ formId }}-name"
									name="contact[{{ 'contact.form.name' | t }}]"
									value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
									class="bg-white border border-gray-600 px-3 py-2 text-gray-800 w-full rounded" />
							</div>
							<div class="px-4 mb-4 md:w-1/3">
								<label class="cursor-pointer inline-block mb-1 text-lg" for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
								{%- if form.errors contains 'email' -%}
									<span id="{{ formId}}-email-error" class="input-error-message">
										<span class="sr-only">{{ 'general.accessibility.error' | t }} </span>
										{% include 'icon-error', icon_class: "h-3 w-3 align-middle" %}
										<span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
									</span>
								{%- endif -%}
								<input
									type="email"
									id="{{ formId }}-email"
									name="contact[email]"
									autocorrect="off"
									autocapitalize="off"
									value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
									aria-required="true"
									{%- if form.errors contains 'email' -%}
									class="bg-white border border-red-600 px-3 py-2 text-gray-800 w-full rounded"
									aria-invalid="true"
									aria-describedby="{{ formId }}-email-error"
									{%- else -%}
									class="bg-white border border-gray-600 px-3 py-2 text-gray-800 w-full rounded"
									{%- endif -%}>
							</div>
							<div class="px-4 mb-4 md:w-1/3">
								<label class="cursor-pointer inline-block mb-1 text-lg" for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
								<input
									type="tel"
									id="{{ formId }}-phone"
									name="contact[{{ 'contact.form.phone' | t }}]"
									pattern="[0-9\-]*"
									class="bg-white border border-gray-600 px-3 py-2 text-gray-800 w-full rounded"
									value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
							</div>
							<div class="px-4 mb-4 md:w-full">
								<label class="cursor-pointer inline-block mb-1 text-lg" for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
								<textarea
									rows="10"
									id="{{ formId }}-message"
									class="bg-white border border-gray-600 px-3 py-2 text-gray-800 w-full rounded"
									name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
							</div>
						</div>
						<div>
							<input
								type="submit"
								class="bg-red-600 border-red-600 btn flex-shrink-0 text-base text-white"
								value="{{ 'contact.form.submit' | t }}">
						</div>

					{% endform %}
				</div>
			</div>
		</div>
	</div>
</article>
