<!-- templates/search.liquid -->
{% paginate search.results by 10 %}

<div class="container py-12">
	<header class="mb-12">
		<h1 class="font-semibold text-4xl tracking-wide text-center" id="title-0">
		{% if search.performed == false %}
		{{ 'general.search.title' | t }}
		{%- else -%}
		<span class="sr-only">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
		{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
		{%- endif -%}
		</h1>
	</header>

	<div class="m-auto md:w-3/5 mb-8 md:mb-12">
		{% if search.performed and search.results_count == 0 %}
			<div class="text-gray-600">
				<p>{{ 'general.search.no_results' | t }}</p>
			</div>
		{% endif %}
		<form
			class="flex flex-no-wrap max-w-3xl relative w-full"
			action="{{ routes.search_url }}"
			method="get"
			role="search">
			<div class="flex-1 relative">
				<input
					type="search"
					name="q"
					value="{{ search.terms | escape }}"
					placeholder="{{ 'general.search.placeholder' | t }}"
					role="combobox"
					aria-autocomplete="list"
					aria-owns="predictive-search-results"
					aria-expanded="false"
					aria-label="{{ 'general.search.placeholder' | t }}"
					aria-haspopup="listbox"
					class="bg-white border border-gray-600 pr-12 px-4 py-3 text-gray-800 w-full rounded-l"
				>
				<input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
				<button
					type="reset"
					class="-translate-y-1/2 absolute mr-3 right-0 top-50 transform"
					aria-label="{{ 'general.search.clear_search_term' | t }}">
					{% include 'icon-close', icon_class: "h-4 w-4 align-middle" %}
				</button>
				<div class="predictive-search-wrapper"></div>
			</div>
			<button
				type="submit"
				class="bg-red-600 border-red-600 btn flex-shrink-0 text-base text-white fill-current -ml-px"
				aria-label="{{ 'general.search.submit' | t }}">
				{% include 'icon-search', icon_class: "h-auto w-5 self-center" %}
			</button>
		</form>
	</div>

	{% if search.performed %}
		<h2 class="sr-only">{{ 'general.search.heading' | t: count: search.results_count }}</h2>

		<ul>
			{% for item in search.results %}
			<li class="m-auto md:w-3/5 pb-5{% unless forloop.last %} border-b border-gray-300 mb-5{% endunless %}">
				{% if item.object_type == 'product' %}
					{% include 'product-card-list', product: item %}
				{% else %}
					<div class="relative">
						<a
							href="{{ item.url }}"
							class="block absolute top-0 left-0 w-full h-full z-2">
							<span class="sr-only">{{ item.title }}</span>
						</a>
						<div class="flex flex-no-wrap">
							<div class="list-view-item__image-column">
								<div class="list-view-item__image-wrapper product-card__image-wrapper">
									{% unless item.image == null %}
										<img class="list-view-item__image" src="{{ item.image.src | img_url: '600x600' }}" alt="{{ item.image.alt | escape }}">
									{% endunless %}
								</div>
							</div>

							<div class="list-view-item__title-column">
								<div class="list-view-item__title" aria-hidden="true">
									<span class="product-card__title">{{ item.title }}</span>
								</div>
								<div>
									{% if item.published_at %}{{ item.published_at | date: format: "date" }} &#8212; {% endif %}
									{{ item.content | strip_html | truncate: 200 }}
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</li>
			{% endfor %}
		</ul>

		{%- if paginate.pages > 1 -%}
			{% include 'pagination', paginate: paginate %}
		{%- endif -%}
	{% endif %}

	{% if search.results_count < 2 %}
		<div class="h-screen"></div>
	{% endif %}
</div>

{% endpaginate %}
